name: Dependency Submission
on:
  push:
    branches: [not-main]

jobs:
  submit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm ci
      - run: node dep-sub-api.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}